/* WP Backitup CSS */

.error {	color: #ff0000;}

p {
	line-height: 1.4em;
}

#content {
	float: left;
	width: 65%;
}

#sidebar {
	float: right;
	width: 30%;
}

.widget {
	padding: 1em;
}

input {padding: 0;}

h3 {
	margin: 0;
	padding: 1em 0 0 0;
}

ul {padding: 1em 0 0 0;}

iframe {
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
}

.wp-backitup-section {
	border-bottom: 1px solid #ddd;
	clear:both;
}

#backup-button, #restore-form {
	float: left;
	margin: 0 5px 5px 0;
}

.status-icon {
	display: inline;
	height: 16px;
	visibility: hidden;
	width: 16px;
}

.status-icon img {margin-top: 3px;}

#restore_form {margin-right: 5px;}

#restore-button {margin-top: 22px;}