/**
 * WP Backitup Admin Control Panel Stylesheets
 * 
 * @version 1.0.9
 * @since 1.0.1
 */

/* Global */
 .error {	color: #ff0000;}

p {line-height: 1.4em;}

ul {padding: 1em 0 0 0;}

h3 {
	margin: 0;
	padding: 1em 0 0 0;
}

iframe {
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	z-index: -10;
}

.submit {
	padding: 0;
}

/* Content */
#content {
	float: left;
	width: 65%;
}

#content input[type="text"], #content input[type="file"] {padding: 0;}

.status-icon {
	display: inline;
	height: 16px;
	position: relative;
	top: 3px;
	left: 5px;
	visibility: hidden;
	width: 16px;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 30%;
}

.widget {padding: 1em;}
